/**
 * Public styles
 */
$mdl-color--gray-500: #9E9E9E;

.mdl-share-buttons {

  &.mdl-share-buttons--top,
  &.mdl-share-buttons--footer {
    .mdl-share-buttons__wrapper {
      display: inline-block;
      height: 36px;
      line-height: 36px;
      position: relative;
      vertical-align: middle;
      overflow: hidden;

      .addthis_toolbox {

        &.addthis_default_style {

          &.addthis_mdl_style {

            .addthis_toolbox__item {

              .at-icon-wrapper {
                background: transparent !important;

                & > svg {
                  fill: $mdl-color--gray-500 !important;
                }
              }
            }
          }

          &.addthis_32x32_style {

            .addthis_toolbox__item {
              margin-bottom: 0;
              text-align: center;

              // override addthis styles
              .at-icon-wrapper {
                line-height: 36px !important;
                height: 36px !important;
                width: 36px !important;
                border-radius: 18px;
                position: relative;

                &:after {
                  content: "";
                  background-color: transparent;
                  width: 100%;
                  height: 100%;
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
                }

                &:hover {
                  &:after {
                    background-color: rgba($mdl-color--gray-500, .2);
                  }
                }

                & > svg {
                  width: 26px !important;
                  height: 26px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  // top
  &.mdl-share-buttons--top {
    position: relative;

    .mdl-share-buttons__wrapper {
      position: absolute;
      height: auto;
      line-height: initial;
      top: 36px;
      display: none;
      background: white;

      animation: .7s ease 0s normal forwards 1 fadeIn;

      &.active {
        display: block;
      }

      .addthis_toolbox {

        &.addthis_default_style {

          &.addthis_mdl_style {

            .addthis_toolbox__item {
              display: block;
              float: none;
            }
          }
        }
      }
    }
  }


  // footer
  &.mdl-share-buttons--footer {

    .mdl-share-buttons__title {
      color: rgba(black, .4) !important;
      min-width: initial;
    }
  }


  // floating
  &.mdl-share-buttons--floating {

    position: fixed;
    z-index: 1001;
    right: 40px;
    bottom: 40px;

    .addthis_toolbox_wrapper {
      display: none;
      position: absolute;
      z-index: 1000;
      bottom: 60px;
      right: 5px;
      animation: .7s ease 0s normal forwards 1 fadeIn;

      &.active {
        display: block;
      }
    }


    .addthis_toolbox {

      .addthis_toolbox__item {
        display: block;
        float: none;

        & > span {
          border-radius: 100px;
          padding: 5px;
        }

      }

    }


  }

}
